* {
  font-family: 'IRANSans', sans-serif; }

body {
  background-color: #f5f5f5 !important; }

.navbar {
  background-color: #ffffff;
  height: 65px; }
  .navbar .navbar-brand-image img {
    height: 38px; }
  .navbar .nav-item {
    font-size: 14px;
    color: #272c30; }

.tlid-bar {
  height: 65px;
  width: 100%;
  background-color: #ffffff;
  position: relative; }

.page-content-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); }
  .page-content-wrap .tlid-language-bar {
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    display: flex;
    align-content: center;
    align-items: center;
    border-bottom: solid;
    border-top: solid;
    border-width: 2px;
    border-color: #f5f5f5; }
    .page-content-wrap .tlid-language-bar .sl-selector {
      width: 48%;
      color: #272c30;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.2;
      padding-top: 6px; }
      .page-content-wrap .tlid-language-bar .sl-selector span {
        margin-left: 15px; }
    .page-content-wrap .tlid-language-bar .process-button {
      width: 4%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center; }
      .page-content-wrap .tlid-language-bar .process-button i {
        cursor: pointer; }
    .page-content-wrap .tlid-language-bar .tl-selector {
      width: 48%;
      padding-left: 20px; }
      .page-content-wrap .tlid-language-bar .tl-selector button {
        margin: 10px;
        background: transparent;
        border: transparent;
        padding-top: 6px; }
  .page-content-wrap .source-result-wrap {
    width: 100%;
    display: flex;
    align-content: center; }
    .page-content-wrap .source-result-wrap .source-wrap {
      width: 50%;
      min-height: 200px; }
      .page-content-wrap .source-result-wrap .source-wrap textarea {
        padding: 10px;
        width: 100%;
        height: 100%;
        min-height: 200px;
        border: transparent;
        resize: none; }
    .page-content-wrap .source-result-wrap .result-wrap {
      width: 50%;
      min-height: 200px;
      background-color: #f5f5f5; }
      .page-content-wrap .source-result-wrap .result-wrap p {
        margin: 0;
        padding: 10px; }
      .page-content-wrap .source-result-wrap .result-wrap p #placeholder {
        color: red; }
