$primary-text-color: rgb(39, 44, 48);
$global-shadow-parameters: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
$background-gray-color: #f5f5f5;

* {
  font-family: 'IRANSans', sans-serif;
}

body {
  background-color: $background-gray-color !important;
}
.navbar {
  background-color: #ffffff;
  height: 65px;
  .navbar-brand-image img {
    height: 38px;
  }
  .nav-item {
    font-size: 14px;
    color: $primary-text-color;
  }
}

.tlid-bar {
  height: 65px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.page-content-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: $global-shadow-parameters;
  .tlid-language-bar {
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    display: flex;
    align-content: center;
    align-items: center;
    border-bottom: solid;
    border-top: solid;
    border-width: 2px;
    border-color: $background-gray-color;
    .sl-selector {
      //padding-left: 50px;
      width: 48%;
      //margin: 15px;
      color: $primary-text-color;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.2;
      padding-top: 6px;
      span {
        margin-left: 15px;
      }
    }
    .process-button {
      width: 4%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      i {
        cursor: pointer;
      }
    }
    .tl-selector{
      width: 48%;
      padding-left: 20px;
      button {
        margin: 10px;
        background: transparent;
        border: transparent;
        padding-top: 6px;
      }
    }
  }

  .source-result-wrap {
    width: 100%;
    display: flex;
    align-content: center;
    .source-wrap {
      width: 50%;
      textarea {
        padding: 10px;
        width: 100%;
        height: 100%;
        min-height: 200px;
        border: transparent;
        resize: none;
      }

      min-height: 200px;
    }
    .result-wrap {
      width: 50%;
      min-height: 200px;
      background-color: #f5f5f5;
      p {
        margin: 0;
        padding: 10px;
      }
      p #placeholder {
        color: red;
      }
    }
  }
}