@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("./iransans/eot/IRANSansWeb_Bold.eot");
  src: url("./iransans/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("./iransans/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("./iransans/woff/IRANSansWeb_Bold.woff") format("woff"), url("./iransans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("./iransans/eot/IRANSansWeb_Medium.eot");
  src: url("./iransans/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("./iransans/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("./iransans/woff/IRANSansWeb_Medium.woff") format("woff"), url("./iransans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("./iransans/eot/IRANSansWeb_Light.eot");
  src: url("./iransans/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("./iransans/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("./iransans/woff/IRANSansWeb_Light.woff") format("woff"), url("./iransans/ttf/IRANSansWeb_Light.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("./iransans/eot/IRANSansWeb_UltraLight.eot");
  src: url("./iransans/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("./iransans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("./iransans/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("./iransans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("./iransans/eot/IRANSansWeb.eot");
  src: url("./iransans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("./iransans/woff2/IRANSansWeb.woff2") format("woff2"), url("./iransans/woff/IRANSansWeb.woff") format("woff"), url("./iransans/ttf/IRANSansWeb.ttf") format("truetype");
}
